
.mainWrapper{
    background-image:url("https://images.unsplash.com/photo-1551434678-e076c223a692?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8ZGV2ZWxvcGVyc3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80");
    height: 500px;
    /* background-size: cover; */
};

.portName{
    font-size : 60px !important;
    color : red !important;

}


