

.mainWrapper{
    /* background-image:url(../../../public/images/03.jpg); */
    /* background-size: cover; */
    /* background-color : lightgray; */
    height: 300px;
    border:1px solid red;
    
};

.contact {
    background-color: gray;
    color:red;
    width: 50px;
    height:50px;
    border-radius: 20px;
}

